.hide, .block_hide {
  display: none;
}

.ch-delivery__inputs_add {
  display: flex;
  grid-gap: 20px;
}

.brand__item__body.active {
  color: #71c476;
}

.block_delivery__card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-city__dropdown-wrap {
  top: 35px;
}

.select-city__modal__submit__vars {
  left: 15px;
  padding: 5px 10px;
}

div.search-popup {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
}

div.search-popup-row, div.search-popup-row-active {
  border-radius: 5px;
}

.search-page .city__input {
  width: 50%;
}

/*blog start*/
.a-video__block__video {
  position: relative;
}

.video_play {
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: 42%;
}

.modal-open {
  cursor: pointer;
}

.callme-form-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.callme-form-modal__content {
  position: relative;
  background: #f2f2f2;
  margin: 15% auto;
  padding: 30px;
  border: 2px solid #006cc0;
  border-radius: 4px;
  width: 50%;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.callme-form-modal__text {
  text-align: center;
  margin: 30px 0 30px;
  font-size: 24px;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.store-avail {
  color: red;
  display: none;
}

.popup-new.popupOutStock {
  margin-top: 20%;
}

.product-page .product-card__b-button {
  display: block;
}

.checkout__body .mb-4 {
  margin-bottom: 40px;
}

.checkout__body .button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-card__price__1 {
  white-space: nowrap;
}

.text_format h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}

.text_format p {
  margin-bottom: 10px;
}

.text_format ul,
.text_format ol {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.text_format ul li,
.text_format ol li {
  margin-bottom: 10px;
  list-style: auto;
}

.block-faq .page__text b {
  font-weight: bold;
  color: black;
  font-size: 22px;
}

.product_detail .company{
  margin-top: 30px;
}
.product_detail .company__body{
  display: block;
  font-size: 16px;
  margin-top: 0;
}
.product_detail .company__body h3 {
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header-mobile__menu .header-mobile__search .header__search__input__block .header__search__input {
  width: 100%;
  padding: 0 35px;
}

/* показать/скрыть пароль */
.password {
  position: relative;
}

.password-control {
  position: absolute;
  top: 16px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('img/svg/pass_view.svg') 0 0 no-repeat;
  cursor: pointer;
}

.password-control.view {
  background: url('img/svg/pass_no-view.svg') 0 0 no-repeat;
}

/* поиск в шапке */
.header__search input[type=submit].header__search__input-svg,
.header-mobile__search input[type=submit].header__search__input-svg
{
  border: none;
  background-color: transparent;
}
.header__search input[type=submit].header__search__input-svg{
  display: none;
}
.header__search.active div.header__search__input-svg{
  display: none;
}
.header__search.active input[type=submit].header__search__input-svg{
  display: block;
}

.header_fixed{
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 0;
  width: 100%;
}
.header_fixed .header__top,
.header_fixed .header__catalogs{
  display: none;
}
